{%  extends 'base.html' %}

{% block content %}
    <div style="margin: 2rem; text-align: center">
        <h1>METHOD</h1>

        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <input type="text" name="hello_world_input">
            <input type="submit" class="px-5 btn btn-dark rounded-pill ">
        </form>

        {% for hello_world in hello_world_list %}
            <h3>{{ hello_world.text }}</h3>
        {% endfor %}
    </div>

{% endblock %}